# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. R language
2. Python
3. Juila
4. Java
5. SQL
6. Scala
7. MATLAB

**List popular languages for Data Science**

- Python
- R language
+ Juila
+ Java
* SQL

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Scikit-Learn
4. tensorflow
5. dplyr
6. ggplot2

Data Science Tools

1. MySQL
2. PostgreSQL
3. Apache CouchDB
4. Apache Airflow
5. Kubeflow
6. PixieDust
7. Hue
8. Apache PredictionIO
9. ModelDB
10. Prometheus

### Below are a few examples of evaluating arithmetic expressions in Python

In [19]:
 #This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [29]:
# This will convert 200 minutes to hours by diving by 60
hrs = 200 // 60
mins = 200 % 60
print("200 minutes to hours is ",hrs,"hours and ",mins,"minutes.")

200 minutes to hours is  3 hours and  20 minutes.

## Author
HSIN-JU, LIU